# Entornos virtuales (no deben subirse)
venv/
.venv/

# Archivos de Python compilados y cachés
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Archivos de base de datos SQLite locales (no producción)
*.sqlite3

# Archivos de logs
*.log

# Archivos de entorno con contraseñas y claves secretas
.env

# Archivos de migraciones que a veces no quieres subir
# (opcional, si prefieres que se generen en el server)
# */migrations/

# Archivos de media y estáticos generados
/media/
staticfiles/
static/

# Configuración de editores y sistema operativo
.DS_Store
Thumbs.db
.vscode/
.idea/

# Archivos de coverage o testing
.coverage
htmlcov/
